# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/
*.spec

# Environments
.env
.venv
env/
venv/

# User-specific settings
settings.json

# Portable Python folder
python64/

# Models (Large files, don't sync to GitHub)
models/
copy_models.py

# Logs
*.log
